<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="AM_Backend.AuthService" behaviorConfiguration="serviceBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="AM_Backend.IAuthService"/>
        <endpoint address="rest" binding="webHttpBinding"  behaviorConfiguration="web" contract="AM_Backend.IAuthService"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
        <add binding="basicHttpBinding" scheme="http"/>
        <add binding="webHttpBinding" scheme="http"/>
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="false"/>
  </system.webServer>

</configuration>

<!--<system.serviceModel>
  <services>
    <service name="MyRESTService.ProductRESTService" behaviorConfiguration=”serviceBehavior”>
      <endpoint address=”” binding=”webHttpBinding” contract=”MyRESTService.IProductRESTService” behaviorConfiguration=”web”></endpoint>
    </service>
  </services>
  <behaviors>
    <serviceBehaviors>
      <behavior name=”serviceBehavior”>
        <serviceMetadata httpGetEnabled=”true”/>
        <serviceDebug includeExceptionDetailInFaults=”false”/>
      </behavior>
    </serviceBehaviors>
    <endpointBehaviors>
      <behavior name=”web”>
        <webHttp/>
      </behavior>
    </endpointBehaviors>
  </behaviors>
  <serviceHostingEnvironment multipleSiteBindingsEnabled=”true” />
</system.serviceModel>-->